[mysqld]
default-storage-engine = INNODB
default-time-zone = "+09:00"
default-authentication-plugin = mysql_native_password
character-set-server = utf8mb4
collation-server = utf8mb4_bin
general_log = ON
general_log_file = /var/log/mysql/general.log
slow_query_log = ON
long_query_time = 1
slow_query_log_file = /var/log/mysql/slow.log
sql-mode = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO"

[client]
default-character-set = utf8mb4